@import "tailwindcss";
@plugin "daisyui";


.active{
    border-bottom: 2px solid red;
    color: red;
    font-weight: bold;
}

::-webkit-scrollbar {
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: #3b82f6; /* Tailwind blue-500 */
  border-radius: 10px;
}
